@import '../../vars.css';

.container {
  padding-top: 6.5rem;
  padding-left: 4.0rem;
  margin-right: 5.28rem;
}

.searchContainer {
  padding-top: 13rem;
}

.text {
  color: var(--black);
  font-weight: 700;
  font-size: 1.4rem;
}

.gridContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 2.0rem;
}

.gridItem {
  margin-right: 5rem;
  margin-bottom: 4.0rem;
}

.gridItem:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.searchText {
  margin-top: 2.7rem;
  font-size: 14px;
}

.bold {
  font-weight: 700;
}