@import '../../vars.css';

.bookStats {
  display: flex;
  width: 19.4rem;
}

.purchases, .likes {
  flex: 1;
}

.likes {
  border-right: 1px solid var(--divider);
}

.blackIcons {
  border-right: 1px solid var(--border);
}

.rating {
  flex: 4;
}

.purchaseCount {
  margin-top: 0.4rem;
}

.likesCount {
  margin-top: 0.4rem;
}

.ratingTitle {
  font-weight: 700;
}

.rating {
  padding-left: 1.1rem;
}

.ratingValue {
  font-weight: 400;
}

.people path, .love path {
  fill: var(--black);
  stroke: var(--black);
  stroke-width: 0.1px;
}