@import '../../vars.css';

.container {
  padding-top: 2.7rem;
}

.text {
  color: var(--black);
  font-weight: 700;
  font-size: 1.4rem;
  margin-left: 5.28rem;
}

.featuredBooksLine {
  margin: 0 5.28rem;
}